<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Open Graph / Social Media cards -->
	<meta property="og:title" content="{{ self.title()|default('D&D Мастерская') }}">
	<meta property="og:description" content="Инструменты для Мастера DnD 5e: билдер персонажей, генератор энкаунтеров.">
	<!-- Заголовок страницы. Если дочерний шаблон не задаст свой, будет использоваться этот -->
	<title>{% block title %}{{ request.app.state.settings.PROJECT_NAME }}{% endblock %}</title>
	{% import "_macros/cookieBaner.html" as macros %}
	<!-- Подключение CSS-файла -->
	<link rel="stylesheet" href="/static/css/style.min.css">
</head>
<body>

<!-- Блок для шапки сайта -->
{% block header %}
<header class="site-header">
	<h1>D&D Мастерская</h1>
	{% include '_menu.html' %}
</header>
{% endblock %}

<main class="container">
	<!-- Основной блок контента. Именно сюда каждая страница будет вставлять свое содержимое -->
	{% block content %}
	<p>Основной контент страницы появится здесь.</p>
	{% endblock %}
</main>

<!-- Блок для подвала сайта -->
{% block footer %}
<footer class="site-footer">
	<p>&copy; {{ year|default(2026) }} D&D Сайт. Все права защищены.</p>
</footer>
{% endblock %}

<div id='modal'>
	{{ macros.render_cookie_banner() }}
</div>
<script type="module" src="/static/js/main.min.js" defer></script>

</body>
</html>